body,
html {
  margin: 0;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  font-family: sans-serif;
  text-align: center;

  height: 100%;
}

.excalidraw-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

// :root[dir="ltr"]
//   .excalidraw
//   .layer-ui__wrapper
//   .zen-mode-transition.App-menu_bottom--transition-left {
//   transform: none;
// }

// .excalidraw {
//   --color-primary: #faa2c1;
//   --color-primary-darker: #f783ac;
//   --color-primary-darkest: #e64980;
//   --color-primary-light: #fcc2d7;

// }
