body,
html {
  margin: 0;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  font-family: sans-serif;
  text-align: center;

  height: 100%;
}

.excalidraw-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

// :root[dir="ltr"]
//   .excalidraw
//   .layer-ui__wrapper
//   .zen-mode-transition.App-menu_bottom--transition-left {
//   transform: none;
// }

// .excalidraw {
//   --color-primary: #faa2c1;
//   --color-primary-darker: #f783ac;
//   --color-primary-darkest: #e64980;
//   --color-primary-light: #fcc2d7;

// }

div.App-menu.App-menu_top.hidden {
  display: none;
}

/* footer.App-menu.App-menu_bottom {
  bottom: initial;
  top: 1rem;
  padding: 0 8rem 0 5rem;
} */

footer.App-menu.App-menu_bottom.hidden {
  display: none;
}

/* div.Island.App-menu__left {
  width: 100%;

  background-color: transparent;
  box-shadow: none;
  padding: 0.1rem;

  display: flex;
  justify-content: center;
}

div.Island.App-menu__left > .panelColumn {
  flex-direction: row;

  background-color: var(--island-bg-color);
  box-shadow: var(--shadow-island);
  border-radius: var(--border-radius-lg);
  padding-top: 0.3em;
}

div.Island.App-menu__left > .panelColumn > * {
  padding: 0 1rem;
}

div.Island.App-menu__left > .panelColumn > fieldset > legend {
  display: none;
}

div.Island.App-menu__left > .panelColumn > div > h3 {
  display: none;
} */
